extends ./layout
block contenido 
    div(class='img-container')
     img(src='/public/codesApp.jpg', class='codesApp')
    script
        include ./scripts/jquery-3.3.1.min.js
        include ./scripts/efectos.js