extends ../layout
block contenido
  div(class='col-md-8 container big-top-space')
    h2(class='text-align-center')  Apreciado #{nom} la informacion no se actualizo correctamente, por favor verifica la op y el trazo, muchas gracias
    h4(text aligne='center') (Da click en Subproceso)
    